@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0E0D11;
  scroll-behavior: smooth;
  transition: 0.2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-color-overlap {
  filter: brightness(0) saturate(100%) invert(94%) sepia(2%) saturate(1351%) hue-rotate(208deg) brightness(103%) contrast(87%);
}

/* Add this CSS to your global stylesheet or a relevant CSS/SCSS file */
.parent-hover:hover .child-hover {
  opacity: 0;
}

.list-disc-accent > li::marker {
  color: #8637F5;
}

.flashlight {
  position: absolute;
  border-radius: 50%;
  background-color: transparent; 
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
  width: 10rem;
  height: 10rem;
  filter: url(#blur-filter); 
}